# General
.DS_Store

# Editor directories
# .vscode/
.idea/

# Node.js modules
node_modules/

# Python virtual environments
venv/

# Coverage reports
coverage/

# Vendor folder
vendor/

# Compiled Python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Windows thumbnail cache
Thumbs.db

# dotenv files
.env

# Next.js build output
dist
dist-ssr
*.local
